extends ../layout

block content
    div.container.pt-5
        h1 Forgot Password
        br
        hr
        form(action='/usuarios/forgotPassword' method='post').form-container
            div.form-group
                label(for='usuario') Usuario:
                input#usuario(type='email' name='usuario' autofocus='autofocus' placeholder='Ingrese su dirección de Email' required='required').form-control
            div.form-group
                button.btn.btn-block.btn-lg.btn-dark(type='submit') Confirmar
