extends ../layout

block content
    div.container.pt-5
        a(href='/bicicletas').float-right.btn.btn-primary Atraz
        br
        h1 New Bicicleta
        br
        hr
        form(action='/bicicletas/create' method='post').form-container
            div.form-group
                label(for='code') Code:
                input#code(type='number' name='code' min='1' step='1' required='required').form-control
            div.form-group
                label(for='color') Color:
                input#color(type='text' name='color' required='required').form-control
            div.form-group
                label(for='modelo') Modelo:
                input#modelo(type='text' name='modelo' required='required').form-control
            div.form-group
                div.form-row
                    div.col-6
                        div.form-group
                            label(for='lat') Ubicacion (Latitud):
                            input#lat(type='number' name='lat' min='-50' max='50' step='0.0000001' required='required').form-control
                            span.text-muted Ingrese latitudes entre -50 y 50
                        div.form-group
                            label(for='lng') Ubicacion (Longitud):
                            input#lng(type='number' name='lng' min='-50' max='50' step='0.0000001' required='required').form-control
                            span.text-muted Ingrese longitudes entre -50 y 50
            div.form-group
                button.btn.btn-block.btn-lg.btn-dark(type='submit') Grabar Bicicleta
